body {
  background-color: black;
  margin: 0;
}

#centered_container {
  width: 1032px;
  margin: 16px auto;
}

#left_display, #right_display {
  width: 512px;
}

#left_display {
  float: left;
}

#right_display {
  float: right;
  clear: right;
}

#board, #info {
  width: 512px;
  height: 384px;
}

#board {
/*  cursor: none;*/
}
