body {
  background-color: black;
  margin: 0;
}

#centered_container {
  width: 1040px;
  height: 384px;
  margin: 32px auto 0px auto;
}

#left_column, #right_column, #info, #spell_display {
  width: 256px;
  height: 384px;
}

#middle_column, #board {
  width: 512px;
  height: 384px;
}

#left_column, #middle_column, #right_column {
  float: left;
}

#right_column {
  clear: right;
}

#middle_column {
  margin: 0px 8px;
}
