body {
  background-color: black;
  margin: 0;
}

#centered_container {
  width: 1040px;
  height: 384px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

#left_display, #right_display, #info, #spells {
  width: 256px;
  height: 384px;
}

#middle_display {
  width: 512px;
  height: 384px;
  margin: 0px 8px;
}

#left_display, #middle_display, #right_display {
  float: left;
}

#right_display {
  clear: right;
}

#board {
  width: 512px;
  height: 384px;
}
