body {
  background-color: #eaeaea;
  margin: 0;
}
.message {
  font-family: "Lucidia Grande", "Verdana", sans-serif;
  margin: 10px auto;
  background-color: white;
  width: 640px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.message .header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(80%, #ffffff), color-stop(100%, #f4f4f4));
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 80%, #f4f4f4 100%);
  padding: 4px 8px;
  font-size: 13px;
  line-height: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
}

.message .header .date {
  font-size: 11px;
  color: #888888;
}

.message .header .from {
  color: darkblue;
}

.message-body pre {
  font-family: "Lucidia Grande", "Verdana", sans-serif;
  font-size: 12px;
  margin: 4px 8px;
  white-space: pre-wrap;
}
